@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable';
    text-decoration: none;
    list-style: none;
}

.content-mini-box {
    background-color: #FFFFFF;
}

.swiper {
    width: 100%;
    height: 250px;
    margin-bottom: 1.5em;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4%;
}

.swiper-pagination-bullet-active {
    background-color: #0d0d0d !important;
}

.page-link {
    color: #0d0d0d;
}

.active>.page-link {
    color: #FFFFFF !important;
    background-color: #031059 !important;
    border-color: #031059;
}

.active>.page-link:hover {
    color: #FFFFFF !important;
}

.search-form>input {
    border: 2px solid #031059;
}